/* Color Pallette
#279af1 Brilliant Azure
#f7f7ff Ghost White
#60656f Black Coral
#131112 Black Licorice
*/

/*----------------------------------  
Global Stlyes
------------------------------------*/

/* border box fix */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
    font-family: 'Titillium Web', 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1.25rem;
}

a {
    color: #279af1;
    letter-spacing: 1px;
}

a:hover,
a:active {
  text-decoration: none;
  color: #279af1;
}

h1 {
  font-size: 3.125rem;
  font-weight: 300;
}

h1, h4 {
  word-spacing: 2px;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
/*  margin: 0;*/
}

h2:after {
  display: block;
  content: "\A71C";
  padding-top: 10px;
}

h3 {
  margin: 0;
  font-weight: 600;
}

.section-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px;
  overflow: hidden;
}

/*----------------------------------  
Header with Navigation inside
------------------------------------*/

/*Nav*/
.main-nav {
  background: #131112;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.main-nav-item {
  padding: 15px 5px;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #f7f7ff;
}

/*Header-image*/
.header-img {
  background: url(https://source.unsplash.com/SymZoeE8quA/1600x900) no-repeat fixed;
  background-size: cover;
  background-position: center;
  height: 100vh; 
}

.unsplash-p {
  position: absolute;
  bottom: 0;
  right: 50px;
  color: #60656f; 
  padding: 10px;
  font-size: 0.875rem;
}

/*----------------------------------  
About Section
------------------------------------*/

h3 ~ p {
  letter-spacing: 1px;
  line-height: 150%;
  color: #60656f;
}

.profile-img {
  margin-top: 50px;
  border: 6px solid #131112;
  margin-left: 20px;
  box-shadow: 10px 10px 10px #d3d3d3;
}

.short-bio {
  width: 70%;
  float: left;
  padding: 15px;
  margin-right: 10px;
}

/*----------------------------------  
Skills
------------------------------------*/

/*Clear short bio float*/
/* .section-skills {
  clear: left;
} */

.skill-tree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 10px;    
}

p ~ h2 {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 10px;
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

/*----------------------------------  
Projects
------------------------------------*/

/*flexbox for layout*/
.section-projects {
  margin-bottom: 60px;
}

.project-thumbnails {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-figure-container {
  border: 2px solid #60656f;
  padding: 10px 10px 20px 10px;
  margin: 20px;
}

.section-projects figcaption {
  text-align: center;
}

/*---------------------------------- 
Footer
------------------------------------*/

footer {
  background: #131112;
  color: #f7f7ff;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}

.footer > h4 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 0;
}

.footer a {
  padding: 5px;
  display: inline-block;
  font-size: 1.5rem;
}

/*---------------------------------- 
Media Queries 
------------------------------------*/

/*mobile 480px and below*/
@media only screen and (max-width: 480px) {

.profile-img {
  width: 150px;
  margin-bottom: 25px;
}

.skill-tree {
  display: grid;
  grid-template-columns: 1fr;
}

.short-bio {
  text-align: left;
} 
}



